extends layout
block content
  .col-lg-12
    h1.page-header About Us
    p
    | We are 8 students of Epitech working on this project. Below you can see who we are.
    .row
      h2.page-header Our Team
      .col-lg-12
          .col-lg-4
              img.img-circle.img-responsive.img-center(height='200px', width='200px', src='images/kauch_j.jpg', alt='')
              h3 Jonathan Kauch
              small Project Manger - #API
              small The project manager and also the head of #API department
          .col-lg-4
              img.img-circle.img-responsive.img-center(height='200px', width='200px', src='images/quach_a.jpg', alt='')
              h3 Jonathan Quacha
              small #iOS #Android
              small #iOS developper and #Android developper
          .col-lg-4
              img.img-circle.img-responsive.img-center(height='200px', width='200px', src='images/frayss_c.jpg', alt='')
              h3 Christophe Fraysse
              small #iOS #Android
              small #iOS developper, #Android developper and also head of #iOS and #Android department
      .col-lg-12
          .col-lg-4
              img.img-circle.img-responsive.img-center(height='200px', width='200px', src='images/lin_c.jpg', alt='')
              h3 Chaohui Lin
              small #API
              small #API [To complete]
          .col-lg-4
              img.img-circle.img-responsive.img-center(height='200px', width='200px', src='images/tran_1.jpg', alt='')
              h3 Thanh Tran
              small Project Manger - #API
              small #API
          .col-lg-4
              img.img-circle.img-responsive.img-center(height='200px', width='200px', src='images/james-_e.jpg', alt='')
              h3 Eric James
              small #Web
              small #Web developper and head of #Web department
      .col-lg-12
          .col-lg-4
              img.img-circle.img-responsive.img-center(height='200px', width='200px', src='images/tran_2.jpg', alt='')
              h3 Viet Dung Tran
              small #Web
              small #Web developper
          .col-lg-4
              img.img-circle.img-responsive.img-center(height='200px', width='200px', src='images/saysan_j.jpg', alt='')
              h3 Jean Paul Saysana
              small #WindowsPhone
              small #WindowsPhone Developper and also head of #WindowsPhone department
// Team Members Row
// /container
